.app-header {
    align-items: flex-end;
  }
  /*
  Свойства align-items и align-self управляют выравниванием flex 
  элементов по перекрёстной оси: вертикальной для flex-direction 
  установленным в row, и горизонтальной для flex-direction установленным 
  в column.
  */

  .app-header h1 {
    flex-grow: 1;
  }
  
  .app-header h2 {
    font-size: 1.2rem;
    color: grey;
  }